@font-face {
  font-family: 'misoregular';
  src: url('../fonts/miso/miso-webfont.eot');
  src: url('../fonts/miso/miso-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/miso/miso-regular-webfont.woff2') format('woff2'), url('../fonts/miso/miso-regular-webfont.woff') format('woff'), url('../fonts/miso/miso-regular-webfont.ttf') format('truetype'), url('../fonts/miso/miso-regular-webfont.svg#misoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'hand_of_seanregular';
  src: url('../fonts/sean/handsean-webfont.eot');
  src: url('../fonts/sean/handsean-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/sean/handsean-webfont.woff2') format('woff2'), url('../fonts/sean/handsean-webfont.woff') format('woff'), url('../fonts/sean/handsean-webfont.ttf') format('truetype'), url('../fonts/sean/handsean-webfont.svg#hand_of_seanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'miso-bold';
  src: url("../fonts/Miso_Bold/miso-bold.eot");
  src: url("../fonts/Miso_Bold/miso-bold.woff") format('woff'), url("../fonts/Miso_Bold/miso-bold.svg") format('svg'), url("../fonts/Miso-Bold/miso-bold.ttf"),
}

.menu-header nav ul {
  list-style: none;
}

.menu-header nav {
  height: 33px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.item {
  background-repeat: no-repeat;
  width: 125px;
  text-decoration: none;
  display: block;
  float: right;
  margin: 0 13px;
  height: 33px;
}

.item-inicio {
  background-image: url(../img/ico_preguntas.png);
}

.item-inicio a {
  padding-left: 33px;
}

.item-despacho {
  background-image: url(../img/ico_despacho.png);
}

.item-despacho a {
  padding-left: 42px;
}

.item-preguntas {
  background-image: url(../img/ico_inicio.png);
}

.font-menu {
  font-family: 'misoregular';
  line-height: 33px;
  font-size: 19px;
  text-decoration: none;
  color: #0079d7;
  font-weight: bold;
  padding-left: 50px;
}

.active {}

.info-venta {
  background: #f1f1f2;
  background-image: url(../img/texture.png);
  height: 312px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 17px;
}

.text-info {
  font-family: 'MisoRegular', Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #333;
}

.subtitle-info {
  font-family: 'hand_of_seanregular';
  font-family: 'hand_of_seanregular', Arial, Helvetica, sans-serif;
  color: #dd0021;
  font-size: 15px;
  line-height: 32px;
}

.div-call {
  display: block;
  padding: 50px 0px;
}

.div-call img {
  margin: 0 auto;
  display: block;
}

.slider {
  height: 100vh;
}

.ubicanos {
  background-color: #F1F1F2;
}

.pad {
  display: block;
  margin: 0 auto;
  padding: 80px 0px;
  width: 736px;
}

.div-input {
  font-family: "MisoRegular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
  display: block;
  float: left;
  padding: 30px 73px 21px 0px;
}

.div-mapa {
  display: block;
  float: left;
  width: 337px;
}

.div-mapa img, .div-input img {
  display: block;
  margin: 0 auto;
}

.text-mapa {
  font-family: 'MisoRegular', Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
  padding-right: 78px;
  padding-left: 19px;
  color: #333;
  /* padding-top: 20px; */
  padding-bottom: 14px;
  margin: 11px 0;
}

.selectLima, .selectProvincia {
  background: transparent url(/static/categorias/contenidoEstatico/servicioalCliente/venta-telefonica/images/despacho/arrow_blue.jpg) no-repeat 100% 50%;
  font-family: "MisoBold", Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #a6a8ab;
  line-height: 32px;
  cursor: pointer;
  display: block;
  border: 1px #0072ce solid;
  margin-bottom: 6px;
  margin-left: 20px;
  padding-left: 14px;
  padding-right: 14px;
  width: 220px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.selectProvincia {
  border: 1px #dd0021 solid;
}

select::-ms-expand {
  display: none;
}

option {
  font-size: 12px;
}

.div-banner {
  background: transparent url(../img/banner.jpg) no-repeat 50% 0%;
  display: block;
  height: 266px;
}

.acordion {
  font-family: "MisoRegular", Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #333333;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 545px;
}

.text-option {
  font-family: 'misoregular', Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: bold;
  line-height: 23px;
  color: #0072ce;
  cursor: pointer;
  display: block;
  padding: 20px 30px 10px 0px;
}

.opcion {
  display: block;
  border-bottom: 1px #dd0021 dashed;
  padding-bottom: 10px;
}

@media (max-width: 550px) {
  .info-venta {
    background: #f1f1f2 url('http://www.sodimac.com.pe/static/categorias/contenidoEstatico/servicioalCliente/venta-telefonica/css/images/texture.png') repeat 0% 0%;
    display: block;
    padding: 18px 0px;
    text-align: center;
    margin: 29px 14px;
  }
  .subtitle-info {
    font-size: 16px;
    padding: 0 13px;
    padding-bottom: 6px;
    line-height: 16px;
  }
  .text-info {
    font-size: 16.5px;
    padding: 0px 9px;
    margin: 0;
    /* text-align: justify; */
    line-height: 20px;
  }
  .info-venta {
    height: auto;
  }
  .div-call {
    display: block;
    padding: 0px 35px;
  }
  .pad {
    padding: 0;
    width: auto;
  }
  .div-mapa {
    width: auto;
  }
  .ubicanos {
    margin: 29px 14px;
  }
  .text-mapa {
    padding-left: 0;
    padding-right: 0;
  }
  .div-input {
    padding: 0;
    padding-top: 35px;
    padding-bottom: 25px;
  }
  .selectLima, .selectProvincia {
    margin-left: 0;
  }
}
